body {
    background: #fff;
    min-height: 100%;
    /* font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif"; */
    font-family: "Helvetica", "Verdana", "Arial" "sans-serif";
    font-size: 10px;
}


#header {
    z-index: 10;
    width: 100%;
    background-color: black;
}

#in-notification {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 250px;
    z-index: 9999;
}
