<% title "Edit Widget" %>


<%= render :partial => 'form' %>


<p>
  <%= link_to "Show Widget", widget_path(@widget) %> |
  <%= link_to "List Widgets", widgets_path %> |
  <%= link_to "Workspaces", workspaces_path %>
</p>
