<h1>Editing system_group_map</h1>

<% form_for(@system_group_map) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @system_group_map %> |
<%= link_to 'Back', system_group_maps_path %>