<tr class="<%= cycle(:odd,:even) %>">
  <td class="variables_monospace"><%=h system_variable.name %></td>
  <td class="variables_monospace"><strong>=</strong></td>
  <td class="variables_monospace"><%=h system_variable.value %></td>
</tr>
