<p style="margin: 0px; padding: 2px 5px; font-size: 12px; border-bottom: 1px solid #ddd">
  <a href="/services/<%= running_services.service.id %>" title="Show">
    <b>Name: </b><%= running_services.service.name %>
    <span class="ui-icon ui-icon-newwin" style="display:inline-block; cursor:pointer;"></span>
  </a>
</p>