<span>
  <b>Name: </b><%= system_groups.system_group.name %>

  <a href="/system_groups/<%= system_groups.system_group.id %>" title="Show">
    <span class="ui-icon ui-icon-newwin" style="display:inline-block; cursor:pointer;"></span>
  </a>
</span>
<br />